.parent{
    border: 1px solid;
    width: 800px;
    height: 800px;
    background-color: red;
    margin: 0 auto;

}

.box-purple{
    display: flex;
    width: 100%;
    max-height: 300px;
    justify-content: space-between;
}

.child-1, .child-2{
    border: 1px solid;
    width: 300px;
    height: 300px;
    background-color: purple;
    margin: 5px;
    display: flex;
    align-items: center;
}

.child-3, .child-4{
    border: 1px solid;
    width: 100px;
    height: 100px;
    background-color: green;
    margin-left: 100px;
}

.box-blue {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}

.child-5, .child-6{
    margin: 5px;
    border: 1px solid;
    width: 150px;
    height: 150px;
    background-color: blue;

}