* {
    box-sizing: border-box;
}

.root {
    height: 800px;
    width: 800px;
    padding: 10px;
    background-color: red;
}

header {
    min-height: 200px;
    background-color: brown;
}

main {
    background-color: red;
    display: flex;
    max-height: 550px;
}

.left-menu {
    padding: 10px;
    display: flex;
    background-color: brown;
    flex-direction: column;
    flex-basis: 200px;
    flex-shrink: 0;
    flex-grow: 0;
    margin-right: 10px;
    overflow-y: auto;
}

.content{
    flex-grow: 1;
    display: flex;
    padding: 10px;
    overflow-x: auto;
}

.content .cont_items{
    min-width: 200px;
    min-height: 200px;
    margin-left: 10px;
    background-color: yellow;
}

.left-menu .menu_item{
    min-height: 120px;
    background-color: yellow;
    margin-bottom: 10px;
}